<p-card>
  <p>
    <strong>{{'animations.svg.title' | translate}}</strong>
  </p>

  <div class="description-margin-bottom">
    <p>{{'animations.svg.description' | translate}}</p>
  </div>

  <div class="p-grid margin-top-left">
    <svg
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="margin: auto;
      display: block;"
      width="200px"
      height="200px"
      viewBox="0 0 100 100"
      preserveAspectRatio="xMidYMid"
    >
      <g>
        <circle cx="64.0012" cy="50" r="4" fill="#2bff00">
          <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.67s"></animate>
          <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.67s"></animate>
        </circle>
        <circle cx="84.4012" cy="50" r="4" fill="#2bff00">
          <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.33s"></animate>
          <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.33s"></animate>
        </circle>
        <circle cx="44.2012" cy="50" r="4" fill="#2bff00">
          <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="0s"></animate>
          <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="0s"></animate>
        </circle>
      </g>
      <g transform="translate(-15 0)">
        <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#ff0000" transform="rotate(90 50 50)"></path>
        <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#ff0000" transform="rotate(13.8019 50 50)">
          <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;45 50 50;0 50 50" keyTimes="0;0.5;1"></animateTransform>
        </path>
        <path d="M50 50L20 50A30 30 0 0 1 80 50Z" fill="#ff0000" transform="rotate(-13.8019 50 50)">
          <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;-45 50 50;0 50 50" keyTimes="0;0.5;1"></animateTransform>
        </path>
      </g>
    </svg>
  </div>

  <pre> <!-- TODO have to set width because mobileview -->
    <code class="language-markup" pCode>
&lt;svg
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  style="margin: auto;
  display: block;"
  width="200px"
  height="200px"
  viewBox="0 0 100 100"
  preserveAspectRatio="xMidYMid"
>
  &lt;g>
    &lt;circle cx="64.0012" cy="50" r="4" fill="#2bff00">
      &lt;animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.67s">&lt;/animate>
      &lt;animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.67s">&lt;/animate>
    &lt;/circle>
    &lt;circle cx="84.4012" cy="50" r="4" fill="#2bff00">
      &lt;animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.33s">&lt;/animate>
      &lt;animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.33s">&lt;/animate>
    <&lt;/circle>
    &lt;circle cx="44.2012" cy="50" r="4" fill="#2bff00">
      &lt;animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="0s">&lt;/animate>
      &lt;animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="0s">&lt;/animate>
      &lt;/circle>
  &lt;/g>
  &lt;g transform="translate(-15 0)">
    &lt;path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#ff0000" transform="rotate(90 50 50)">&lt;/path>
    &lt;path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#ff0000" transform="rotate(13.8019 50 50)">
      &lt;animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;45 50 50;0 50 50" keyTimes="0;0.5;1">&lt;/animateTransform>
      &lt;/path>
    &lt;path d="M50 50L20 50A30 30 0 0 1 80 50Z" fill="#ff0000" transform="rotate(-13.8019 50 50)">
      &lt;animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;-45 50 50;0 50 50" keyTimes="0;0.5;1">&lt;/animateTransform>
      &lt;/path>
  &lt;/g>
&lt;/svg>
    </code>
  </pre>
</p-card>
