<div class="p-grid">
  <div class="p-col-12 p-md-12 p-md-offset-0 p-sm-12 p-offset-0 p-sm-offset-0 p-xl-8 p-xl-offset-2 p-lg-8 p-lg-offset-2">

    <p-card header="{{'concept.title' | translate}}">

      <div class="description-margin-bottom">
        <h3 wmAnimate="fadeInRight" aos>{{'concept.idea.title' | translate}}</h3>
      </div>

      <div class="description-margin-bottom">
        <p wmAnimate="fadeInRight" aos>{{'concept.idea.description' | translate}}</p>
      </div>

    </p-card>

  </div>
</div>
