<div class="p-grid">
  <div class="p-col-12 p-md-12 p-md-offset-0 p-sm-12 p-offset-0 p-sm-offset-0 p-xl-8 p-xl-offset-2 p-lg-8 p-lg-offset-2">

    <p-card header="{{'animations.title' | translate}}">

      <div class="description-margin-bottom">
        <p>{{'animations.description' | translate}}</p>
      </div>

      <app-css3-animations></app-css3-animations>

      <app-svg-animations></app-svg-animations>

      <app-angular-animations></app-angular-animations>

      <app-canvas-animations></app-canvas-animations>

    </p-card>

  </div>
</div>
