<p-card>
  <p wmAnimate="fadeInRight" aos>
    <strong>{{'file-formats.sound.title' | translate}}</strong>
  </p>

  <div class="description-margin-bottom">
    <p wmAnimate="fadeInRight" aos>{{'file-formats.sound.description' | translate}}</p>
  </div>

  <audio
     controls
     [src]="soundBaseHref + 'assets/sound/sound.mp3'"
     wmAnimate="fadeInRight"
     aos
  >
    Ihr Browser kann dieses Tondokument nicht wiedergeben.<br>
  </audio>

  <pre wmAnimate="fadeInRight" aos>
    <code class="language-markup" pCode wmAnimate="fadeInRight" aos>

&lt;!-- {{'file-formats.sound.tag' | translate}} -->
&lt;!-- {{'file-formats.sound.controls' | translate}} -->
&lt;!-- {{'file-formats.sound.src' | translate}} -->
&lt;audio
  controls
  src="/assets/sound/Krestovsky-01-Squirrel_Fever.mp3"
>
  Ihr Browser kann dieses Tondokument nicht wiedergeben.&lt;br> &lt;!-- {{'file-formats.sound.notCompatible' | translate}} -->
&lt;/audio>

    </code>
  </pre>
</p-card>
