<p-card>
  <p>
    <strong>{{'file-formats.sound.title' | translate}}</strong>
  </p>

  <div class="description-margin-bottom">
    <p>{{'file-formats.sound.description' | translate}}</p>
  </div>

  <!-- TODO add environment base_href to src -->
  <audio
     controls
     src="/assets/sound/sound.mp3"
  >
    Ihr Browser kann dieses Tondokument nicht wiedergeben.<br>
  </audio>

  <pre>
    <code class="language-markup" pCode>

&lt;!-- {{'file-formats.sound.tag' | translate}} -->
&lt;!-- {{'file-formats.sound.controls' | translate}} -->
&lt;!-- {{'file-formats.sound.src' | translate}} -->
&lt;audio
  controls
  src="/assets/sound/Krestovsky-01-Squirrel_Fever.mp3"
>
  Ihr Browser kann dieses Tondokument nicht wiedergeben.&lt;br> &lt;!-- {{'file-formats.sound.notCompatible' | translate}} -->
&lt;/audio>

    </code>
  </pre>
</p-card>
