<div class="p-grid">
  <div class="p-md-12 p-md-offset-0 p-sm-12 p-sm-offset-0 p-xl-8 p-xl-offset-2 p-lg-8 p-lg-offset-2">

    <p-card>

      <h2 wmAnimate="fadeInRight" aos>
        <strong>{{"styleguide.title" | translate}}</strong>
      </h2>

      <p-card>
        <h3 wmAnimate="fadeInRight" aos>
          <strong>{{"styleguide.primeng.title" | translate}}</strong>
        </h3>

        <p wmAnimate="fadeInRight" aos class="margin-bottom-2rem">
          {{"styleguide.primeng.description" | translate}}
        </p>
      </p-card>

      <p-card>
        <h3 wmAnimate="fadeInRight" aos>
          <strong>{{"styleguide.font.title" | translate}}</strong>
        </h3>

        <p wmAnimate="fadeInRight" aos class="margin-bottom-2rem">
          {{"styleguide.font.description" | translate}}
        </p>
      </p-card>

      <p-card>
        <h3 wmAnimate="fadeInRight" aos>
          <strong>{{"styleguide.logo.title" | translate}}</strong>
        </h3>

        <app-in-place-icon size="16x16"></app-in-place-icon>

        <app-in-place-icon size="32x32"></app-in-place-icon>

        <app-in-place-icon size="57x57"></app-in-place-icon>

        <app-in-place-icon size="60x60"></app-in-place-icon>

        <app-in-place-icon size="72x72"></app-in-place-icon>

        <app-in-place-icon size="76x76"></app-in-place-icon>

        <app-in-place-icon size="96x96"></app-in-place-icon>

        <app-in-place-icon size="114x114"></app-in-place-icon>

        <app-in-place-icon size="120x120"></app-in-place-icon>

        <app-in-place-icon size="128x128"></app-in-place-icon>

        <app-in-place-icon size="144x144"></app-in-place-icon>

        <app-in-place-icon size="152x152"></app-in-place-icon>

        <app-in-place-icon size="196x196"></app-in-place-icon>

        <app-in-place-icon size="270x270"></app-in-place-icon>

        <app-in-place-icon size="558x558" [showOnMobile]="false"></app-in-place-icon>

      </p-card>

      <p-card>
        <h3 wmAnimate="fadeInRight" aos>
          <strong>{{"styleguide.primary_color.title" | translate}}</strong>
        </h3>

        <p wmAnimate="fadeInRight" aos>
          {{"styleguide.primary_color.description" | translate}}
        </p>

        <p-colorPicker [(ngModel)]="primaryColor"></p-colorPicker>
      </p-card>

    </p-card>


  </div>
</div>
