<p-card>
  <p wmAnimate="fadeInRight" aos>
    <strong>{{'file-formats.video.title' | translate}}</strong>
  </p>

  <div class="description-margin-bottom">
    <p wmAnimate="fadeInRight" aos>{{'file-formats.video.description' | translate}}</p>
  </div>

  <video
    class="p-justify-center"
    width="100%"
    poster="assets/images/working.PNG"
    controls
    autoplay="autoplay"
    loop="true"
    wmAnimate="fadeInRight"
    aos
  >
    <source src="assets/videos/working.mp4" type="video/mp4">
  </video>

  <pre wmAnimate="fadeInRight" aos>
    <code class="language-markup" pCode wmAnimate="fadeInRight" aos>

&lt;!-- {{'file-formats.video.tag' | translate}} -->
&lt;video class="p-justify-center" width="100%" poster="assets/images/working.PNG" controls autoplay="autoplay" loop="true">
  &lt;source src="assets/videos/working.mp4" type="video/mp4"> &lt;!-- {{'file-formats.video.mp4' | translate}} -->
  &lt;!-- &lt;source src="video.ogg" type="video/ogg"> {{'file-formats.video.ogg' | translate}} -->
  &lt;!-- &lt;source src="video.webm" type="video/webm"> {{'file-formats.video.webm' | translate}} -->
&lt;/video>

    </code>
  </pre>
</p-card>
