<div class="p-grid">
  <div class="p-md-12 p-md-offset-0 p-sm-12 p-sm-offset-0 p-xl-8 p-xl-offset-2 p-lg-8 p-lg-offset-2">

    <p-card>

      <h2 wmAnimate="fadeInRight" aos>
        <strong>{{"testing.title" | translate}}</strong>
      </h2>

      <p wmAnimate="fadeInRight" aos class="margin-bottom-2rem">
        {{"testing.description" | translate}}
      </p>

      <p-card>

        <app-test [testNumber]="1" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Home Seite verfügbar -->

        <app-test [testNumber]="2" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Konzept Seite verfügbar -->

        <app-test [testNumber]="3" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Zeitlinie Seite verfügbar -->

        <app-test [testNumber]="4" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Lizenzen Seite verfügbar -->

        <app-test [testNumber]="5" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Datei Formate Seite verfügbar -->

        <app-test [testNumber]="6" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="0" [mobileChrome]="5"></app-test> <!-- Animationen Seite verfügbar -->

        <app-test [testNumber]="7" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Progressive Web App Seite verfügbar -->

        <app-test [testNumber]="8" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Impressum Seite verfügbar -->

        <app-test [testNumber]="9" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Mockup Seite verfügbar -->

        <app-test [testNumber]="10" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Testen Seite verfügbar -->

        <app-test [testNumber]="11" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Style Guide Seite verfügbar -->

        <app-test [testNumber]="12" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Reflexion Seite verfügbar -->

        <app-test [testNumber]="13" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Github aufrufbar -->

        <app-test [testNumber]="14" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Home Seite responsiv -->

        <app-test [testNumber]="15" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Konzept Seite responsiv -->

        <app-test [testNumber]="16" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Zeitlinie Seite responsiv -->

        <app-test [testNumber]="17" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Lizenzen Seite responsiv -->

        <app-test [testNumber]="18" [chromeRating]="2" [edge]="2" [firefox]="2" [ie]="0" [mobileChrome]="2"></app-test> <!-- Datei Formate Seite responsiv -->

        <app-test [testNumber]="19" [chromeRating]="2" [edge]="2" [firefox]="2" [ie]="0" [mobileChrome]="2"></app-test> <!-- Animationen Seite responsiv -->

        <app-test [testNumber]="20" [chromeRating]="2" [edge]="2" [firefox]="2" [ie]="0" [mobileChrome]="2"></app-test> <!-- Progressive Web App Seite responsiv -->

        <app-test [testNumber]="21" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Impressum Seite responsiv -->

        <app-test [testNumber]="22" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Mockup Seite responsiv -->

        <app-test [testNumber]="23" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Testen Seite responsiv -->

        <app-test [testNumber]="24" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Style Guide Seite responsiv -->

        <app-test [testNumber]="25" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Reflexion Seite responsiv -->

        <app-test [testNumber]="26" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Bilder und Videos werden alle geladen -->

        <app-test [testNumber]="27" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Code kann aufgeklappt werden -->

        <app-test [testNumber]="28" [chromeRating]="5" [edge]="5" [firefox]="5" [ie]="5" [mobileChrome]="5"></app-test> <!-- Navigation öffnen -->

        <app-test [testNumber]="29" [chromeRating]="5" [edge]="5" [firefox]="0" [ie]="0" [mobileChrome]="5"></app-test> <!-- PWA -->

      </p-card>

    </p-card>

  </div>
</div>
