<div class="p-grid">
  <div class="p-md-12 p-md-offset-0 p-sm-12 p-sm-offset-0 p-xl-8 p-xl-offset-2 p-lg-8 p-lg-offset-2">

    <p-card>

      <h2 wmAnimate="fadeInRight" aos>
        <strong>{{"licenses.title" | translate}}</strong>
      </h2>

      <p-card>

        <h3 wmAnimate="fadeInRight" aos>
          <strong>{{"licenses.public_domain.title" | translate}}</strong>
        </h3>

        <p wmAnimate="fadeInRight" aos>
          {{"licenses.public_domain.description" | translate}}
        </p>

      </p-card>

      <p-card>

        <h3 wmAnimate="fadeInRight" aos>
          <strong>{{"licenses.fair_use.title" | translate}}</strong>
        </h3>

        <p wmAnimate="fadeInRight" aos class="margin-bottom-2rem">
          {{"licenses.fair_use.description" | translate}}
        </p>

        <p wmAnimate="fadeInRight" aos>
          <strong>{{"licenses.fair_use.usage.title" | translate}}</strong>
        </p>

        <p wmAnimate="fadeInRight" aos class="margin-bottom-2rem">
          {{"licenses.fair_use.usage.text" | translate}}
        </p>

        <p wmAnimate="fadeInRight" aos>
          <strong>{{"licenses.fair_use.cogyrights.title" | translate}}</strong>
        </p>

        <p wmAnimate="fadeInRight" aos class="margin-bottom-2rem">
          {{"licenses.fair_use.cogyrights.text" | translate}}
        </p>

        <p wmAnimate="fadeInRight" aos>
          <strong>{{"licenses.fair_use.amount_work.title" | translate}}</strong>
        </p>

        <p wmAnimate="fadeInRight" aos class="margin-bottom-2rem">
          {{"licenses.fair_use.amount_work.text" | translate}}
        </p>

        <p wmAnimate="fadeInRight" aos>
          <strong>{{"licenses.fair_use.own_original.title" | translate}}</strong>
        </p>

        <p wmAnimate="fadeInRight" aos class="margin-bottom-2rem">
          {{"licenses.fair_use.own_original.text" | translate}}
        </p>

      </p-card>

    </p-card>

  </div>
</div>
